body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #eee;
  font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
}
.outer {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 10px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
@media screen and (max-width: 479px) {
  .outer {
    padding: 0;
  }
}
.inner {
  display: inline;
  float: left;
  width: 99.07407407407408%;
  margin: 0 0.462962962962963%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #eee;
}
.mobile-nav-on #wrap {
  left: 280px;
}
@media screen and (min-width: 768px) {
  #main {
    display: inline;
    float: left;
    width: 74.07407407407408%;
    margin: 0 0.462962962962963%;
  }
}
.article-date,
.article-category-link,
.archive-year,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  font-weight: bold;
}
.article-inner,
.archive-article-inner {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.article-entry h1,
.widget h1 {
  font-size: 2em;
}
.article-entry h2,
.widget h2 {
  font-size: 1.5em;
}
.article-entry h3,
.widget h3 {
  font-size: 1.3em;
}
.article-entry h4,
.widget h4 {
  font-size: 1.2em;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #ddd;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
#header {
  height: 170px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 479px) {
  #header {
    height: 120px;
  }
}
#header:before,
#header:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
#header:before {
  top: 0;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -moz-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -ms-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: linear-gradient(rgba(0,0,0,0.2), transparent);
}
#header-outer {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#header-inner {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
  background: #17aeab;
}
@media screen and (max-width: 479px) {
  #header-inner {
    position: relative;
    background: none;
  }
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center #fff;
  z-index: 0;
}
#header-title {
  text-align: center;
  height: 10px;
  position: absolute;
  top: 20%;
  left: 0;
  margin-top: -5px;
}
@media screen and (max-width: 479px) {
  #header-title {
    top: 30%;
  }
}
#logo,
#subtitle {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  text-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
#logo {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 2px;
}
.logo-image {
  width: 500px;
  min-width: 50%;
}
@media screen and (max-width: 479px) {
  .logo-image {
    width: 90%;
  }
}
#subtitle {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
}
#main-nav {
  float: left;
  height: 100%;
  padding: 0 40px;
}
@media screen and (max-width: 479px) {
  #main-nav {
    padding: 0 10px;
  }
}
.nav-icon,
.main-nav-link {
  float: left;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: block;
  vertical-align: middle;
}
@media screen and (max-width: 479px) {
  .nav-icon,
  .main-nav-link {
    color: #333;
  }
}
.nav-icon:hover,
.main-nav-link:hover {
  opacity: 1;
}
.nav-icon {
  font-family: "Font Awesome 5 Free";
  text-align: center;
  font-size: 16px;
  width: 16px;
  height: 16px;
  padding: 0px 15px;
  position: relative;
  cursor: pointer;
}
.main-nav-link {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
.main-nav-link::after {
  position: absolute;
  bottom: 0.3em;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #eee;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.main-nav-link:hover::after {
  bottom: 0.1em;
  opacity: 1;
}
#main-nav-toggle {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 30px;
}
#main-nav-toggle:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c9";
  font-weight: 900;
  font-size: 1.2em;
  color: #666;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
@media screen and (max-width: 479px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
  height: 100%;
  padding: 0 40px;
}
@media screen and (max-width: 479px) {
  #sub-nav {
    display: none;
  }
}
#nav-rss-link {
  height: 40px;
  line-height: 40px;
}
#nav-rss-link:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f09e";
}
#nav-search-btn {
  height: 40px;
  line-height: 40px;
}
#nav-search-btn:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
}
#search-form-wrap {
  position: absolute;
  top: 5px;
  width: 150px;
  height: 30px;
  right: -150px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 479px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
#search-form-wrap .search-form-submit {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.search-form-input {
  border: none;
  background: none;
  color: #555;
  width: 100%;
  font: 13px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font: 13px "Font Awesome 5 Free";
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
.article {
  margin: 15px 0;
}
@media screen and (max-width: 479px) {
  .article {
    margin: 0;
  }
}
.article-inner {
  overflow: hidden;
}
@media screen and (max-width: 479px) {
  .article-inner {
    -webkit-box-shadow: 0px 0px 0px #ddd;
    box-shadow: 0px 0px 0px #ddd;
    border: 0px solid #ddd;
    border-radius: 0px;
  }
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-date {
  color: #888;
  position: relative;
  right: 0;
  font-family: 'Concert One';
  padding: 10px 0 0 0;
  margin: 0;
  text-align: right;
}
.article-date time.published:before {
  font-family: "Font Awesome 5 Free";
  content: "\f044";
  padding-right: 5px;
}
.article-date time.modified:before {
  font-family: "Font Awesome 5 Free";
  content: "\f021";
  padding-right: 5px;
}
.article-category {
  float: left;
  line-height: 1em;
  color: #ccc;
  text-shadow: 0 1px #fff;
}
.article-category:before {
  content: "\2022";
}
.article-header {
  padding: 20px 20px 0;
}
.article-title {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #555;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #258fb8;
}
.article-entry {
  color: #555;
  padding: 0 20px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry a {
  color: #258fb8;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.article-entry img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.article-entry img.eyecatch {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .article-entry img.eyecatch {
    height: 380px;
    max-height: 380px;
  }
}
@media screen and (max-width: 479px) {
  .article-entry img.eyecatch {
    height: 180px;
    max-height: 180px;
  }
}
.article-entry video {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote footer {
  font-size: 16px;
  margin: 1.6em 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption,
.article-entry .image-caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  border-radius: 15px;
  background: #eee;
  color: #999;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #1e7293;
}
.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
  border-top: 1px solid #ddd;
  padding-top: 1.6em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #555;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: "Font Awesome 5 Free";
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 15px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #555;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0 15px;
  color: #555;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #eee;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: "Font Awesome 5 Free";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.link-preview .link-area {
  overflow: hidden;
  position: relative;
  margin: 1em 0 1em 0;
  padding: 10px;
  border: 1px #999 solid;
}
.link-preview .descriptions {
  overflow: hidden;
}
.link-preview .og-title {
  overflow: hidden;
  font-size: 1.2em;
  font-weight: bold;
}
.link-preview .og-description {
  font-size: 0.86em;
  margin-top: 0.2em;
}
.link-preview .og-image {
  float: left;
  margin-right: 10px;
}
.link-preview .og-image img {
  max-width: 125px;
}
.hexo-tag-amazon {
  position: relative;
  padding: 10px 15px 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  color: #000;
  border: solid 1px #aaa;
}
.hexo-tag-amazon .hexo-tag-amazon-caption {
  text-align: center;
}
.hexo-tag-amazon .hexo-tag-amazon-title {
  font-weight: bold;
}
.hexo-tag-amazon .hexo-tag-amazon-link {
  text-align: center;
  background: #f38518;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fff;
  border: solid 2px #f38518;
  border-radius: 3px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
}
.hexo-tag-amazon .hexo-tag-amazon-rakuten {
  text-align: center;
  background: #af0003;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fff;
  border: solid 2px #af0003;
  border-radius: 3px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
}
blockquote {
  position: relative;
  padding: 15px 10px 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(53,53,53,0.05);
  border: 1px solid #ddd;
  border-radius: 3px;
}
blockquote:before {
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 15px;
  vertical-align: middle;
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  color: #cfcfcf;
  font-size: 20px;
  line-height: 1;
  font-weight: 900;
}
blockquote p {
  padding: 0 15px 0 15px;
  margin: 5px 0;
  font-size: 0.9em;
  line-height: 1.4em;
}
blockquote cite {
  display: block;
  text-align: right;
  color: #888;
  font-size: 0.9em;
}
.article-header h1 {
  font-size: 18px;
  color: #000; /*文字色*/
  padding: 0.5em 0; /*上下の余白*/
  border-bottom: solid 3px #000; /*下線*/
}
.article-entry h2 {
  font-size: 18px;
  margin-top: 40px;
  padding: 0.5em;
  color: #494949;
  background: #fff;
  border-left: solid 5px #17aeab;
}
.article-entry h2 .header-anchor {
  display: none;
}
.article-entry h3 {
  font-size: 18px;
  position: relative;
  padding-left: 1.4em;
  line-height: 1.4;
}
.article-entry h3 .header-anchor {
  display: none;
}
.article-entry h3:before {
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  position: absolute;
  font-size: 1em;
  left: 0;
  top: 0;
  color: #17aeab;
}
.article-entry h4 {
  font-size: 16px;
}
.article-entry h4 .header-anchor {
  display: none;
}
.article-entry strong {
  background: -webkit-linear-gradient(transparent 75%, #fff799 75%);
  background: -moz-linear-gradient(transparent 75%, #fff799 75%);
  background: -ms-linear-gradient(transparent 75%, #fff799 75%);
  background: linear-gradient(transparent 75%, #fff799 75%);
  font-weight: bold;
}
.toc {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 10px;
  width: auto;
}
.toc:before {
  font-weight: 700;
  text-align: center;
  content: "目次";
}
.toc_title {
  font-weight: 700;
  text-align: center;
}
.toc li,
.toc ul,
.toc ul li {
  list-style-position: outside;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
/* リストの記号を付けない場合は   
     list-style: outside none none !important;
    */
  line-height: 1em;
}
.talk {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}
.talk .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}
.talk .name {
  text-align: center;
  float: left;
  width: 100%;
  font-size: 0.8em;
}
.talk .faceicon img {
  width: 100%;
  height: auto;
  border: solid 1px #ddd;
  border-radius: 50%;
  margin-bottom: 0px;
}
.talk .chatting {
  width: 100%;
}
.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #fff;
  border: solid 3px #17aeab;
}
.says:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  z-index: 2;
}
.says:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #17aeab;
  z-index: 1;
}
.says p {
  margin: 0;
  padding: 0;
}
.sns_buttons {
  color: #555;
  padding: 10px 20px;
}
.sns_buttons:before,
.sns_buttons:after {
  content: "";
  display: table;
}
.sns_buttons:after {
  clear: both;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ookgoz");
  src: url("../fonts/icomoon.eot?ookgoz#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?ookgoz") format('truetype'), url("../fonts/icomoon.woff?ookgoz") format('woff'), url("../fonts/icomoon.svg?ookgoz#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-line:before {
  content: "\e90a";
}
.icon-feedly:before {
  content: "\e900";
}
.icon-pocket:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-linkedin2:before {
  content: "\eac9";
}
.icon-pinterest:before {
  content: "\ead2";
}
.icon-pinterest2:before {
  content: "\ead1";
}
.icon-hatebu:before {
  content: "\e903";
}
.icon-hatebu2:before {
  content: "\e901";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss2:before {
  content: "\ea9c";
}
.shareList {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: -5px 0 0 -5px;
}
.shareList__item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  height: 30px;
  line-height: 30px;
  min-width: 40px;
  text-align: center;
  margin: 10px 0 0 10px;
}
.shareList__link {
  display: block;
  color: #fff;
  text-decoration: none;
}
.shareList__link::before {
  font-size: 14px;
  display: block;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.shareList__link:hover::before {
  background: #fff;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.15);
}
.shareList__link.icon-twitter {
  background: #55acee;
}
.shareList__link.icon-twitter:hover::before {
  color: #55acee;
}
.shareList__link.icon-facebook {
  background: #3b5998;
}
.shareList__link.icon-facebook:hover::before {
  color: #3b5998;
}
.shareList__link.icon-google-plus {
  background: #dd4b39;
}
.shareList__link.icon-google-plus:hover::before {
  color: #dd4b39;
}
.shareList__link.icon-hatebu {
  background: #008fde;
}
.shareList__link.icon-hatebu:hover::before {
  color: #008fde;
}
.shareList__link.icon-pocket {
  background: #eb4654;
}
.shareList__link.icon-pocket:hover::before {
  color: #eb4654;
}
.shareList__link.icon-rss {
  background: #f90;
}
.shareList__link.icon-rss:hover::before {
  color: #f90;
}
.shareList__link.icon-feedly {
  background: #6cc655;
}
.shareList__link.icon-feedly:hover::before {
  color: #6cc655;
}
.shareList__link.icon-pinterest {
  background: #cb2027;
}
.shareList__link.icon-pinterest:hover::before {
  color: #cb2027;
}
.shareList__link.icon-linkedin {
  background: #0e76a8;
}
.shareList__link.icon-linkedin:hover::before {
  color: #0e76a8;
}
.shareList__link.icon-line {
  background: #1dcd00;
}
.shareList__link.icon-line:hover::before {
  color: #1dcd00;
}
.breadcrumb {
  margin-left: 0;
  padding-left: 0;
}
.breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: bold;
}
.breadcrumb li:after {
  content: '>';
  padding: 0 3px;
  color: #555;
}
.breadcrumb li:last-child:after {
  content: '';
}
.breadcrumb li a {
  text-decoration: none;
  color: #808080;
}
.breadcrumb li:first-child a:before {
  font-family: "Font Awesome 5 Free";
  content: "\f015";
  font-size: 1.1em;
  color: #17aeab;
}
.breadcrumb li a:hover {
  text-decoration: underline;
}
.profile {
  text-align: center;
}
.profile img {
  width: 150px;
  height: 150px;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-radius: 10px;
}
#page_top {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  visibility: hidden;
}
@media screen and (max-width: 479px) {
  #page_top {
    visibility: visible;
  }
}
#page_top a {
  width: 60px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f139';
  font-size: 50px;
  color: #17aeab;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  -moz-opacity: 0.9;
  opacity: 0.9;
  visibility: hidden;
}
@media screen and (max-width: 479px) {
  .fixed {
    visibility: visible;
  }
}
.menu-title {
  height: 100%;
  width: 80%;
  margin: auto;
}
.menu-title img {
  display: block;
  margin: auto;
  padding: 5px;
  width: 100%;
  height: auto;
}
.bullet1 {
  margin: 0 20px;
  background-color: #fffdef;
  border: 1px solid #ff7c00;
  border-radius: 3px;
}
@media screen and (max-width: 479px) {
  .bullet1 {
    margin: 0 10px;
  }
}
.bullet1 ul {
  list-style: none;
}
.bullet1 ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ff7c00;
  content: "\f058";
  padding-right: 20px;
}
.blog-card {
  background: #fff;
  border: 1px solid #ff7c00;
  word-wrap: break-word;
  max-width: 100%;
  height: 150px;
  border-radius: 5px;
  margin: 0px 30px 15px 30px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
@media screen and (max-width: 479px) {
  .blog-card {
    height: 100px;
  }
}
@media screen and (max-width: 479px) {
  .blog-card {
    margin: 0px 5px 15px 5px;
  }
}
.blog-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0,0,0,0.2);
  box-shadow: 0 10px 20px -5px rgba(0,0,0,0.2);
  -moz-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.blog-card:before {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  padding: 2px 6px;
  content: "\f15c  あわせて読みたい";
  background-color: #ff7c00;
  color: #fff;
  font-size: 0.8em;
  z-index: 1;
  font-weight: 900;
}
.blog-card a {
  text-decoration: none;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 20px 0 0 0;
}
.blog-card-thumbnail {
  width: 30%;
  height: 100%;
}
.blog-card-thumbnail img {
  width: 80%;
  padding: auto;
}
.blog-card-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.blog-card-title {
  font-size: 1em;
  color: #333;
  margin: 5px 10px 10px 0px;
  font-weight: bold;
  line-height: 1.4;
}
@media screen and (max-width: 479px) {
  .blog-card-title {
    margin: 5px 10px 0 0px;
  }
}
.blog-card-title:hover {
  text-decoration: underline;
}
.blog-card-excerpt {
  height: 50px;
  font-size: 0.8em;
  color: #4c4c4c;
  margin: 0 10px 5px 0;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 479px) {
  .blog-card-excerpt {
    height: 30px;
  }
}
.blog-card .clear {
  clear: both;
}
@media screen and (max-width: 500px) {
  .blog-card:before {
    font-size: 0.56em;
  }
  .blog-card-title {
    font-size: 0.8em;
  }
  .blog-card-excerpt {
    font-size: 0.6em;
  }
}
#comments {
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px #ddd;
  box-shadow: 0px 0px 0px #ddd;
  padding: 20px;
  border: 1px 1px 1px 1px solid #ddd;
  border-radius: 3px;
  margin: 0;
}
#comments a {
  color: #258fb8;
}
.archives-wrap {
  margin: 15px 0;
}
.archives-title {
  color: #999;
  font-weight: bold;
  font-size: 1.1em;
  background: #fff;
  border-bottom: 3px solid #17aeab;
  text-align: center;
  padding: 5px;
  margin: 20px 20px 20px 20px;
}
.archives-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f044";
  padding-right: 5px;
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archives {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: -5px 0 0 -5px;
}
@media screen and (max-width: 479px) {
  .archives {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.archive-article {
  position: relative;
  width: 47%;
}
@media screen and (max-width: 479px) {
  .archive-article {
    width: 90%;
  }
}
.archive-article:before {
  content: "";
  display: block;
  padding-top: calc(4 / 4 * 100%);
}
.archive-article-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 90%;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #555;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
  font-size: 1em;
}
.archive-article-title:hover {
  color: #258fb8;
}
@media screen and (max-width: 479px) {
  .archive-article-title {
    font-size: 1.1em;
  }
}
.archive-article-header {
  padding: 0 5px 5px 5px;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  font-family: 'Concert One';
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  display: block;
  font-feature-settings: "palt" 1;
}
@media screen and (max-width: 479px) {
  .archive-article-date {
    font-size: 1em;
  }
}
.archive-article-date time:before {
  font-family: "Font Awesome 5 Free";
  content: "\f017";
  padding-right: 5px;
}
.archive-article-categories {
  position: absolute;
  top: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 0.85em;
  font-weight: bold;
  background: #e85154;
  padding: 5px 10px;
  border-radius: 10px;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
  font-feature-settings: "palt" 1;
}
@media screen and (max-width: 479px) {
  .archive-article-categories {
    font-size: 1em;
  }
}
#page-nav {
  margin: 15px auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #999;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #555;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
div.eyecatch {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  padding-top: calc(630 / 1200 * 100%);
}
div.eyecatch img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#footer {
  background: #262a30;
  padding: 50px 0;
  border-top: 1px solid #ddd;
  color: #999;
}
#footer a {
  color: #258fb8;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 25.6px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 25.6px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 24.074074074074073%;
    margin: 0 0.462962962962963%;
  }
}
.widget-wrap {
  margin: 15px 0;
}
@media screen and (max-width: 479px) {
  .widget-wrap {
    margin: 0;
  }
}
.widget-title {
  padding: 0.75em 0.75em;
  margin: 0;
  background-color: #17aeab;
}
.widget {
  color: #777;
  text-shadow: 0 1px #fff;
  background: #fff;
  -webkit-box-shadow: 0 -1px 4px #fff inset;
  box-shadow: 0 -1px 4px #fff inset;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 3px;
/*
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc
  */
}
.widget a {
  color: #258fb8;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
}
.widget ul {
  padding: 0em 1em 0.5em 2.3em;
  position: relative;
}
.widget ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none !important;
}
.widget ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f075"; /*アイコンの種類*/
  position: absolute;
  left: 0.2em;
/*左端からのアイコンまで*/
  color: #ccc; /*アイコン色*/
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
